.layout-admin {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* Contenedor principal que se ajusta al navbar */
.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; /* Ancho inicial del navbar */
  transition: margin-left 0.3s ease;
}

/* Ajuste cuando el navbar está comprimido */
.nav-admin.collapsed ~ .layout-content {
  margin-left: 70px;
}

.layout-admin header {
  background-color: #1db954;
  color: white;
  padding: 20px;
  text-align: center;
}

.layout-admin main {
  flex: 1;
  padding: 20px;
}

.layout-admin footer {
  background-color: #1db954;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .layout-content {
    margin-left: 70px;
  }
}